//
//  common.xcconfig
//  Diffusion
//
//  Created by Pedro Cuenca on 202212.
//  See LICENSE at https://github.com/huggingface/swift-coreml-diffusers/LICENSE
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_NAME = Diffusers
CURRENT_PROJECT_VERSION = 20250227.175915
MARKETING_VERSION = 1.5

// Update if you fork this repo
DEVELOPMENT_TEAM = MG59AAAGU9
PRODUCT_BUNDLE_IDENTIFIER = com.byetocytes.diff
